<h1>Hello {{title1}}</h1>
<P>Congratulations! Your app is running🥳</P>

<h1>Hello {{title}}</h1>
<P>{{description}}</P>

<!-- <app-product></app-product> -->
<!-- <app-user></app-user> -->
<!-- <app-sales></app-sales> -->
<!-- <app-cine></app-cine> -->
<!-- <app-cart></app-cart> -->
<!-- <app-cart-signals></app-cart-signals> -->
<!-- <app-father></app-father> -->
<!-- <app-users-http></app-users-http> -->

<hr>
<a routerLink="/home" routerLinkActive="activeLink">Home</a> &nbsp;
<a routerLink="/components" routerLinkActive="activeLink">Components</a> &nbsp;
<a routerLink="/cicle" routerLinkActive="activeLink">Cicle</a> &nbsp;
<a routerLink="/templates" routerLinkActive="activeLink">Templates</a> &nbsp;
<a routerLink="/directives" routerLinkActive="activeLink">Directives</a> &nbsp;
<a routerLink="/models" routerLinkActive="activeLink">Models</a> &nbsp;
<a routerLink="/cart" routerLinkActive="activeLink">Cart</a> &nbsp;
<a routerLink="/signals" routerLinkActive="activeLink">Signals</a> &nbsp;
<a routerLink="/comunication" routerLinkActive="activeLink">Comunication</a> &nbsp;
<a routerLink="/services" routerLinkActive="activeLink">Services/HTTP</a> &nbsp;
<a routerLink="/forms" routerLinkActive="activeLink">Forms</a> &nbsp;
<a routerLink="/reactiveForms" routerLinkActive="activeLink">ReactiveForms</a> &nbsp;

<hr>
<router-outlet>
    <!-- Aqui adentro va el componente vinculado a la ruta actual -->
</router-outlet>